.timer-clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;

}

.headder-nav-bar {
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #1a46ba;
    width: 100%;
    height:var(--header-height);
    position: fixed;
    z-index: 10;
}
.headder-nav-bar .iconNav{
    display: none;
    padding: 2px;
    background-color: #4f80fc;
    border-radius: 4px;
}

.language-box {
    width: fit-content;
    height: 20px;
    position: relative;
}

.btn-language {
    display: flex;
    border-radius: 4px;
    height: 24px;
    padding-inline: 8px;
    border: none;
    /* overflow: hidden; */
}

.btn-language+.select-language-box {
    background-color: rgb(228, 228, 228);
    width: 120px;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
}