:root{
  --map-width:1320px;
  --map-height:calc(var(--map-width) * 0.585);
}

.home {
  display: grid;
  width: 100vw;
  overflow-y: hidden;
  grid-template-areas: "col1 col2";
  grid-template-columns:var(--map-width) 1fr;
  grid-template-rows: 1fr;

}

.home>.col1 {
  grid-area: col1;
  display: block;
  height: 95%;
  width: 100%;
  padding-top: 0.5rem;
  overflow-y: auto;
  /* background-color: #fbc0c0; */
}

.home>.col2 {
  grid-area: col2;
  width: 100%;
  padding-left:2rem;
  height: 100%;
  overflow: auto;
  font-family: 'K2D-Regular', sans-serif;
  height: calc(100vh - 64px);
  overflow-y: auto;;
}

.box-agv-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  /* width: 100%; */
  justify-content: start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-agv-btn .btn-agv {
  margin-right: 1rem;
  font-size: 14px;
  width: 100px;
  height: 36px;
  border-radius: 36px;
  background-color: #b1b1b1;
  color: white;
  border: 1px solid #c6c6c6;
}

.box-agv-btn .btn-agv:hover {
  transform: scale(1.1);
  background-color: #bfc8ff;

}
.box-agv-btn .btn-agv.active {
  transform: scale(1.2);
  background-color: #0720c0;
}
.box-agv-data {
  margin-bottom: 2rem;
  width: 460px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* transition: height 0.5s ease; */
  /* border-top: 12px solid #0720c0; */
}

.box-agv-data .top-box-data {
  display: flex;
  width: 100%;
  height: 172px;
  padding: .8rem 0.8rem 0;
}

.box-agv-data .box-name-agv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100px;
  height: fit-content;
  /* background-color: rgb(215, 250, 217); */
}

.agv-name-text {
  /* background-color: #001494; */
  width: 72px;
  font-size: 18px;
  padding: 2px;
  margin-bottom:4px ;
  text-align: center;
  color: white;
  
}

.auto-manual {
  border-radius: 5px;
  width: 64px;
  /* height: 18px; */
  font-size: 14px;
  text-align: center;
  color: #FF9012;
  padding:0.2rem 0.1rem ;
}
.AUTO{
  background-color: #FFEDC5;
  color: #FF9012;
}
.MANUAL{
  background-color: #dafeff;
  color: #52ceff;
}

.image-agv {
  width: auto;
  height: 60px;
  /* margin-right: 1rem; */
}

.offline-bg{
  background-color: #c3c3c3;
}
.image-agv-modal{
  width: auto;
  height: 130px;
  /* margin-right: 1rem; */
}

.box-name-battery {
  display: flex;
  color:#757575;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 200px;
  height: fit-content;
  /* background-color: rgb(215, 250, 217); */
}

.agv-battery {
  padding: 0 8px 0;
  transform: translateY(2px);
}

.agv-state {
  font-size: 24px;
  margin-top: .4rem;
  font-weight: 500;
  width: 200px;
  /* background-color: #FFEDC5; */
  font-family: 'K2D-Regular', sans-serif;
  color: #3E3E3E;
}
.agv-state-offline {
  font-size: 28px;
  margin-top: .8rem;
  font-weight: 500;
  width: 200px;
  /* background-color: #FFEDC5; */
  font-family: 'K2D-Regular', sans-serif;
  color: rgb(71, 71, 71);
}

.velocity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  /* background-color: #001494; */
  transform: translateY(-16px);
  margin-left: auto;
}

.velocity-number {
  font-size: 64px;
  margin: 0;

  color: #000000;
}

.km-h {
  font-size: 16px;
  color: #3E3E3E;
  margin-right: 28px;

}

.box-dotted-mission {
  width: 100%;
  border-top: 3px dotted #838383;
  border-bottom: 3px dotted #838383;
  position: relative;
  height: 172px;
  /* background-color: #C9FFAC; */
}
.box-no-mossion{
  width: 100%;
  border-top: 3px dotted #838383;
  position: relative;
}

.box-dotted-mission .circle-1 ,.box-no-mossion .circle-1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-2 ,.box-no-mossion .circle-2{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-4 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.mission-text-box {
  display: flex;
  margin: 1rem 0 0 1rem;
  width: 200px;
  color: #3E3E3E
}

.mission-process-box {
  width: 90%;
  height: 108px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto ;
  border: 1px solid #ffd0ce;
  border-radius: 8px;
}

.pickup-box { 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: fit-content;
  height: 100%;
  padding-top: 32px;
  margin: 0 0.8rem 0 0.5rem;
}
.goal-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: fit-content;
  height: 100%;
  margin: 0 0.5rem 0 0.8rem;
  padding-top: 32px;
}


.pickup-text {
  font-size: 20px;
  font-weight: bold;
  color: #737373;
  transform: translateY(-12px);
}

.pickup-time {
  font-size: 20px;
  font-weight: 700;
  color: #000dff;
}

.center-line-box {
  flex-grow: 1;
  height: 100%;
  position: relative;
  /* background-color: #ca4343; */
}

.line4 {
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  height: 5px;
  margin: 0;
  background-color: #525252;
}
.line-process{
  position: absolute;
  top: 29%;
  left: 4px;
  height: 10px;
  margin: 0;
  border-radius: 5px;
  background-color: #ffcca8;
  transition: width 1s linear;
}

.center-line-box .circle-pickup {
  position: absolute;
  top: 24%;
  left: -8px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ff6a00;
}

.center-line-box .circle-goal {
  position: absolute;
  top: 24%;
  right: -8px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #878787;
}
.center-line-box .circle-goal.active {
  background-color: #ff6a00;
}

.center-line-box .stations-box {
  position: absolute;
  transform: translateX(-23px);
  top:27%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.center-line-box .stations-box.active {
  top:24%;
}

.label-station {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 46px;
  height: 46px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #E8E8E8;
}
.label-station.active{
 border:1px solid #ff9292;
 background-color: #ffe6d6;
 color:#000000;
}


.circle-top-stations {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #949494;
}
.circle-top-stations.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6a00;
  box-shadow: rgba(255, 77, 77, 0.24) 0px 0px 8px;
}



.button-center {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 8px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #383838;
  z-index: 2;
}
.box-no-mossion .button-center{
  background-color: #ededed;
}

.button-agv {
  background-color: white;
  border:2px solid black;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.button-agv:active {
  background-color: #afafaf;
  transform: scale(0.95);
}

.mission-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1px;
}

.mission-status {
  margin-left:24px ;
  font-size: 28px;
  color: #0004ff;
  font-weight: 600;
}

.mission-btn {
  background-color: #000e91;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}
.mission-btn:hover{
  background-color: #3651ff;
  border: 2px solid #4649ff;
}

.drop-btn {
  background-color: #ff231b;
  border: 2px solid #ff8787;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  animation: drop-btn-animate 1s infinite alternate ease-in-out;
}

@keyframes drop-btn-animate {
  from{
    box-shadow: 0 0px 0px rgba(255, 0, 0, 0.367);
  }
  to{
    box-shadow: 0 0px 72px rgba(255, 0, 0, 0.367);
  }
}
.drop-btn:hover {
  background-color: #ff231b;
  border: 2px solid #840000;
}
.drop-btn:active {
  background-color: #ad0701;
  transform: scale(0.95);
}
.mission-btn:active {
  background-color: #3651ff;
  transform: scale(0.95);
}

.pick-circle-icon {
  width: 22px;
  height: 22px;
  margin-right: .4rem;
  border-radius: 50%;
  border: 6px solid #C9FFAC;
  background-color: #2F7B00;
}


.head-table-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mission-circle-icon {
  width: 22px;
  height: 22px;
  margin-right: .4rem;
  border-radius: 50%;
  background-color: #fff4ac;
  display: flex;
  align-items: center;
  justify-content: center;
}

 

.color-blue {
  background-color: #d6d5ff;
}

.home-table-head th {
  font-weight: 400;
}

.btn-cancel {
  background-color: #ffffff;
  width: 90px;
  height: 36px;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}
.btn-cancel:active{
  background-color: #dfdfdf;
  transform: scale(0.95);
}

.btn-pause {
  background-color: #000000;
  width: 110px;
  height: 36px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 80px;
  background-color: #393939cd;
  z-index: 2;
  backdrop-filter: blur(5px);
}
.modal.show-modal{
  display: block;
  overflow: hidden;
  /* transform-origin: center; */
  animation: expandCenter 0.4s ease-out forwards;
}
.modal.hidden-modal{
  animation: shrinkmodal 0.4s ease-out forwards;
  display: block;
  overflow: hidden;
}

@keyframes expandCenter {
  from {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(1920px);

  }
  to {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shrinkmodal {
  from {
    width: 100%;
    height: 100%;
    transform: translateX(0px);
    opacity: 1;
    /* visibility: visible; */
  }
  to {
    width: 0;
    height: 0;
    transform:  translateX(1920px);
    opacity: 0;
    display: none;
  }
}
.modal-content-home{
  width: 1660px;
  height: 900px;
  border-radius: 12px;
  padding: 1rem;
  background: #ffffff;
  display: flex;
  margin-inline:auto ;
  align-items: flex-start;
}
.modal-content-home .box-map-and-btn{
  position: relative;
  width: fit-content;
  flex-grow: 1;
  height: 800px;
}
.modal-content-home .map-img{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1200px;
  height: auto;
  object-fit: contain;
  aspect-ratio:1672/1164;
}
.agv-mission-box{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: #ffafaf; */
}
.agv-mission-box .close-modal{
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  margin-left: auto;
  background-color: #050505;
  font-size: 24px;
  color:white;
}

.agv-mission-box .close-modal:hover{
 background-color: #414141;
}
.btn-send-command{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #000dff;
  font-size: 24px;
  z-index: 5;
  color:white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}
.btn-send-command:active{
  border: 2px solid #ccc;
  transform: scale(0.95);
  background-color: #414bff;
}


.agv-mission-card{
  width: 400px;
  height: fit-content;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding:0 1rem 1.2rem;
  margin: 0 auto;
  transition: height 2s linear 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.agv-mission-card .agv-top-name-box{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px 0;
  width: 100%;
  height:140px;
  /* background-color: #808080; */
}
.agv-top-name-box .agv-name-state{
  background-color: #fff;
  width: 100px;

}

.box-selected-drop{
  width: 100%;
  border-top: 3px dotted #838383;
  display: flex;
  flex-direction: column;
  height: fit-content !important;
  overflow-y: auto;
  padding: 8px 12px 0; 
  min-height: 100px;
  max-height: 550px;
  /* background-color: #d9d9d9; */
}
.position-relative .dotted-mission-line{
  border-left:5px dotted #f43232;
  position: absolute;
  transform-origin: top left;
  top: 32px;
  left: 34px;
  height: calc(100% - 54px);
  transition: height 2s ease-in-out;
}
.data-warehouse-box .trash{
   width: 32px;
   height:32px;
   margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background-color: #000dff; */
}
.data-warehouse-box{
  display: flex;
  padding-block: 12px ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-items: center;
  opacity: 1;
  z-index: 1;
  box-shadow:inset rgba(96, 255, 88, 0.874) 0px 5px 55px, rgba(96, 255, 88, 0.50) 0px 12px 30px, rgba(119, 255, 88, 0.70) 0px 4px 6px;
  animation: addmission 1s normal forwards ease-in-out;
  
}
.data-drop-box{
  box-shadow:inset rgba(88, 102, 255, 0.874) 0px 5px 55px, rgba(88, 102, 255, 0.50) 0px 12px 30px, rgba(88, 102, 255, 0.70) 0px 4px 6px;
}
@keyframes addmission {
  0% {
      opacity: .2;
  }
  100%{
    opacity: 1;
      width: 100%;
      height: 90px;
      border-radius: 5px;
      box-shadow: none;
  }
}
.warehouse-from-to-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 16px;
}
.warehouse-from-to-box p{
  margin: 0;
}
.warehouse-from-to-box h5{
   font-size: 24px;
   color:black !important;
}

.box-selected-drop .circle-pickup-outline{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-selected-drop .circle-pickup-inner{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00FF11;
}
.circle-goal-outline{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-circle-bg{
  background-color: #D7FF8D;

}
.blue-circle-bg{
  background-color: #D4E3FF;
}
.btn-pickup-agv{
  position: absolute;
  width: 72px;
  height: 50px;
  border-radius: 5px;
  background-color: #001eff;
  color: white;
  border: 2px solid #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius:8px;
}


.color-btn-warehouse{
  background-color: rgb(0, 0, 0);
  /* border-radius: 2px; */
  font-size: 18px;
  border: 2px solid #ff2222;

}

.selectPickup{
  width: 100%;
  /* height: 100px; */
  margin-top: 40px;
  /* background-color: #f4f4f4; */
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
.loading-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 6px solid rgba(162, 162, 162, 0.3);
  border-radius: 50%;
  border-top-color: #0006b7;
  border-bottom-color: #0006b7;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
 
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.modal-loading-background{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 105%;
  background-color: rgb(233, 233, 233);
  z-index: 4;
}
