:root{
  --map-width:1320px;
  --map-height:calc(var(--map-width) * 1261/2155);
}

.home {
  display: grid;
  width: 100vw;
  overflow-y: hidden;
  grid-template-areas: "col1 col2";
  grid-template-columns:var(--map-width) 1fr;
  grid-template-rows: 1fr;

}

.home>.col1 {
  grid-area: col1;
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  /* background-color: #fbc0c0; */
}

.home>.col2 {
  grid-area: col2;
  width: 100%;
  padding-left:2rem;
  height: 100%;
  overflow: auto;
  font-family: 'K2D-Regular', sans-serif;
  height: calc(100vh - 64px);
  overflow-y: auto;;
}

.box-agv-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  /* width: 100%; */
  justify-content: start;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.box-agv-btn .btn-agv {
  margin-right: 1rem;
  font-size: 14px;
  width: 100px;
  height: 36px;
  border-radius: 36px;
  background-color: #b1b1b1;
  color: white;
  border: 1px solid #c6c6c6;
}

.box-agv-btn .btn-agv:hover {
  background-color: #8f8f8f;

}
.box-agv-btn .btn-agv.active {
  transform: scale(1.1);
  background-color: #000000;
}
.box-agv-data {
  margin-bottom: 2rem;
  width: 460px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-agv-data .top-box-data {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.box-agv-data .box-name-agv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: fit-content;
  /* background-color: rgb(215, 250, 217); */
}

.agv-name-text {
  /* background-color: #001494; */
  width: 72px;
  font-size: 18px;
  padding: 2px;
  margin-bottom:4px ;
  text-align: center;
  color: white;
  
}

.auto-manual {
  border-radius: 5px;
  width: 56px;
  /* height: 18px; */
  font-size: 10px;
  text-align: center;
  padding:0.2rem 0 ;
}
.AUTO{
  background-color: #FFEDC5;
  color: #FF9012;
}
.MANUAL{
  background-color: #dafeff;
  color: #52ceff;
}

.image-agv {
  width: auto;
  height: 40px;
  /* margin-right: 1rem; */
}

.offline-bg{
  background-color: #c3c3c3;
}
.image-agv-modal{
  width: auto;
  height: 130px;
  /* margin-right: 1rem; */
}

.box-name-battery {
  display: flex;
  color:#757575;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 200px;
  height: fit-content;
  /* background-color: rgb(215, 250, 217); */
}

.agv-battery {
  padding: 0 8px 0;
  transform: translateY(2px);
}

.agv-state {
  font-size: 20px;
  margin-top: 0.2rem;
  font-weight: 500;
  width: 200px;
  color: #3E3E3E;
}
.agv-state-offline {
  font-size: 28px;
  margin-top: .8rem;
  font-weight: 500;
  width: 200px;
  color: #3E3E3E;
}

.velocity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  /* background-color: #001494; */
  transform: translateY(-16px);
  margin-left: auto;
}

.velocity-number {
  font-size: 56px;
  margin: 0;
  color: #000000;
}

.km-h {
  font-size: 16px;
  color: #3E3E3E;
  margin: 0 28px 0 0;

}

.box-dotted-mission {
  width: 100%;
  border-top: 2px dotted #a4a4a4;
  border-bottom: 2px dotted #a4a4a4;
  position: relative;
  height: fit-content;
  /* background-color: #C9FFAC; */
}

.box-no-mossion{
  width: 100%;
  border-top: 2px dotted #a4a4a4;
  position: relative;
}

.box-dotted-mission .circle-1 ,.box-no-mossion .circle-1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-2 ,.box-no-mossion .circle-2{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.box-dotted-mission .circle-4 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.mission-text-box {
  display: flex;
  margin: 1rem 0 0 1rem;
  width: 200px;
  color: #3E3E3E
}

.mission-process-box {
  width: 92%;
  height: 108px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: 1px solid #ffd0ce;
  border-radius: 8px;
}
.pickup-process-line{
  width: 100%;
  padding: 0 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #00FF11; */
}
.pickup-process-line .alert-pickup{
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #000000;
  color:white;
  margin-top: 12px;
  animation: shake 2s ease-in-out infinite;

}
@keyframes shake {
  0% { transform: translateX(0); }
  2% { transform: translateX(-5px); }
  4% { transform: translateX(5px); }
  6% { transform: translateX(-5px); }
  8% { transform: translateX(0); }
}


.pickup-process-line .pickup-data{
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content:center ;
  background-color: #efefef;
  border-radius:5px;
  border:1px solid #ffc78b;
}
.pickup-process-line .pickup-data span{
  font-size: 20px;
  color:black;
}
.pickup-process-line .circle88{
  width: 22px;
  height:22px;
  margin-right: 12px;
  border-radius: 50%;
  background: #ff6a00;
}

.pickup-box { 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding-top: 32px;
  margin: 0 1.2rem 0 0.5rem;
}
.goal-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: fit-content;
  height: 100%;
  margin: 0 0.5rem 0 1.2rem;
  padding-top: 32px;
}


.pickup-text {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  transform: translateY(-12px);
}

.pickup-time {
  font-size: 15px;
  font-weight: 700;
  color: #ff9999;
}

.center-line-box {
  flex-grow: 1;
  height: 100%;
  position: relative;
  /* background-color: #ca4343; */
}

.line4 {
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  height: 5px;
  margin: 0;
  background-color: #525252;
}
.line-process{
  position: absolute;
  top: 28%;
  left: 4px;
  height: 10px;
  margin: 0;
  border-radius: 5px;
  background-color: #ffcca8;
  transition: width 1s linear;
}

.center-line-box .circle-pickup {
  position: absolute;
  top: 24%;
  left: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6a00;
}

.center-line-box .circle-goal {
  position: absolute;
  top: 24%;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #878787;
}
.center-line-box .circle-goal.active {
  background-color: #ff6a00;
}

.center-line-box .stations-box {
  position: absolute;
  transform: translateX(-23px);
  top:27%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.center-line-box .stations-box.active {
  top:24%;
}

.label-station {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 46px;
  height: 46px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #E8E8E8;
}
.label-station.active{
 border:1px solid #ff9292;
 background-color: #ffe6d6;
 color:#000000;
}


.circle-top-stations {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #949494;
}
.circle-top-stations.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6a00;
  box-shadow: rgba(255, 77, 77, 0.24) 0px 0px 8px;
}


.button-agv {
  background-color: white;
  border:2px solid black;
  width: 100px;
  margin-top: 8px;
  padding: 8px 12px;
  border-radius: 5px;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.button-agv:active {
  background-color: #afafaf;
  transform: scale(0.95);
}

.mission-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1px;
  overflow: hidden;
}

.mission-status {
  flex-grow: 2;
  margin-left:24px ;
  font-size: 24px;
  color: #000000;
  font-weight: 600;
}
@keyframes mission-btn-animate {
  from{
    box-shadow: 0 0 0px rgba(0, 21, 255, 0.367);
  }
  to{
    box-shadow: 0 0 20px rgba(0, 21, 255, 0.367),0 0 40px rgba(0, 21, 255, 0.367),0 0 80px rgba(0, 21, 255, 0.367);
  }
}

.mission-btn {
  background-color: #0012af;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}
.miss-animate{
  flex:1 0 130px;
  height: 54px;
  font-size: 20px;
  animation: mission-btn-animate 1s infinite alternate ease-in-out;

}
.mission-btn:hover{
  background-color: #0022fe;
 }
.mission-btn:active {
   transform: scale(0.95);
}

.drop-btn {
  flex: 1 0 130px;
  background-color: #ff0800;
  border: none;
  width: 130px;
  height: 54px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  animation: drop-btn-animate 1s infinite alternate ease-in-out;
}

@keyframes drop-btn-animate {
  from{
    box-shadow: 0 0 0px rgba(255, 0, 0, 0.367);
  }
  to{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.367),0 0 40px rgba(255, 0, 0, 0.367),0 0 80px rgba(255, 0, 0, 0.367);
  }
}
.drop-btn:hover {
  background-color: #c20600;
  border: 2px solid #840000;
}
.drop-btn:active {
   transform: scale(0.95);
}


.pick-circle-icon {
  width: 22px;
  height: 22px;
  margin-right: .4rem;
  border-radius: 50%;
  border: 6px solid #C9FFAC;
  background-color: #2F7B00;
}


.head-table-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mission-circle-icon {
  width: 22px;
  height: 22px;
  margin-right: .4rem;
  border-radius: 50%;
  background-color: #fff4ac;
  display: flex;
  align-items: center;
  justify-content: center;
}

 

.color-blue {
  background-color: #d6d5ff;
}

.home-table-head th {
  font-weight: 400;
}

.btn-cancel {
  background-color: #ffffff;
  width: 90px;
  padding-block:4px ;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}
.btn-cancel:active{
  background-color: #dfdfdf;
  transform: scale(0.95);
}

.btn-pause {
  background-color: #000000;
  width: 110px;
  height: 36px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 80px;
  background-color: #393939cd;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.modal.show-modal{
  display: block;
  overflow: hidden;
  /* transform-origin: center; */
  animation: expandCenter 0.4s ease-out forwards;
}
.modal.hidden-modal{
  animation: shrinkmodal 0.4s ease-out forwards;
  display: block;
  overflow: hidden;
}

@keyframes expandCenter {
  from {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(1920px);

  }
  to {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shrinkmodal {
  from {
    width: 100%;
    height: 100%;
    transform: translateX(0px);
    opacity: 1;
    /* visibility: visible; */
  }
  to {
    width: 0;
    height: 0;
    transform:  translateX(1920px);
    opacity: 0;
    display: none;
  }
}
.modal-content-home{
  width: 1660px;
  height: 870px;
  border-radius: 12px;
  padding: 1rem;
  background: #ffffff;
  display: flex;
  margin-inline:auto ;
  align-items: flex-start;
}
.modal-content-home .box-map-and-btn{
  position: relative;
  width: fit-content;
  flex-grow: 1;
  height: 800px;
}
.modal-content-home .map-img{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1200px;
  height: auto;
  object-fit: contain;
  aspect-ratio:1672/1164;
}
.agv-mission-box{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: #ffafaf; */
}
.agv-mission-box .close-modal{
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  margin-left: auto;
  background-color: #050505;
  font-size: 24px;
  color:white;
}

.agv-mission-box .close-modal:hover{
 background-color: #414141;
}
.btn-send-command{
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #000dff;
  font-size: 24px;
  z-index: 5;
  color:white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
}
.btn-send-command:active{
  border: 2px solid #ccc;
  transform: scale(0.95);
  background-color: #414bff;
}
.btn-send-command:disabled{
  background-color: #b8b8b8;
  border: 2px solid #ccc;
}

.agv-mission-card{
  width: 400px;
  height: fit-content;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding:0 1rem 1.2rem;
  margin: 0 auto;
  transition: height 2s linear 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.agv-mission-card .agv-top-name-box{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px 0;
  width: 100%;
  height:140px;
  /* background-color: #808080; */
}
.agv-top-name-box .agv-name-state{
  background-color: #fff;
  width: 100px;

}

.box-selected-drop{
  width: 100%;
  border-top: 3px dotted #838383;
  display: flex;
  flex-direction: column;
  height: fit-content !important;
  overflow-y: auto;
  padding: 8px 12px 0; 
  min-height: 100px;
  max-height: 550px;
  /* background-color: #d9d9d9; */
}
.position-relative .dotted-mission-line{
  border-left:5px dotted #bababa;
  position: absolute;
  transform-origin: top left;
  top: 32px;
  left: 34px;
  height: calc(100% - 54px);
  transition: height 2s ease-in-out;
}
.data-warehouse-box .trash{
   width: 32px;
   height:32px;
   margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background-color: #000dff; */
}
.data-warehouse-box{
  display: flex;
  padding-block: 12px ;
  width: 10px;
  height: 10px;
  align-items: center;
  opacity: 1;
  z-index: 1;
  box-shadow:none;
  animation: addmission 1s normal forwards ease-in-out;
}

@keyframes addmission {
  0% {
      opacity: .2;
  }
  100%{
    opacity: 1;
      width: 100%;
      height: 90px;
  }
}
.warehouse-from-to-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 16px;
}
.warehouse-from-to-box p{
  margin: 0;
}
.warehouse-from-to-box h5{
   font-size: 24px;
   color:black !important;
}

.box-selected-drop .circle-pickup-outline{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-selected-drop .circle-pickup-inner{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00FF11;
}
.circle-goal-outline{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-circle-bg{
  background-color: #D7FF8D;

}
.blue-circle-bg{
  background-color: #e0fcff;
}
.btn-pickup-agv{
  position: absolute;
  width: 72px;
  height: 50px;
  border-radius: 5px;
  background-color: #001eff;
  color: white;
  border: 2px solid #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius:8px;
}


.color-btn-warehouse{
  background-color: rgb(0, 0, 0);
  /* border-radius: 2px; */
  font-size: 18px;
  border: 2px solid #ff2222;

}

.selectPickup{
  width: 100%;
  /* height: 100px; */
  margin-top: 40px;
  /* background-color: #f4f4f4; */
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
.loading-background {
  display: flex;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loading-background.top-positio-0{
  top:0;
}
.bg-opacity{
  background-color: #ffffffc4;
}
#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 3px solid rgba(162, 162, 162, 0.3);
  border-radius: 50%;
  border-top-color: #0006b7;
  border-bottom-color: #0006b7;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
#loading2 {
  display: inline-block;
  width: 60px;
  height:60px;
  border: 6px solid rgba(227, 227, 227, 0.579);
  border-radius: 50%;
  border-top-color: #15f9f1;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
 
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.modal-loading-background{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 105%;
  background-color: rgb(233, 233, 233);
  z-index: 4;
}
.modal-summaryCommand{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3cd;
  z-index: 2;
  backdrop-filter: blur(5px);
}
.card-summaryCommand{
  width: 500px;
  /* height: 400px; */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-summaryCommand-header{
  width: 100%;
  height: 50px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}
.card-summaryCommand-header .bg-img{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 18px;
  background: #F8F2FF;
}
.card-summaryCommand-header >.icon-name-agv{
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.card-summaryCommand > .btn-confirm{
  width: 100%;
  height: 54px;
  margin-top: 16px;
  font-size: 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card-summaryCommand > .btn-confirm:active{
  background-color: #414141;
}
.btn-close-summary{
  width: 28px;
  height:28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
}
.btn-close-summary:active{
  background-color: #dfdfdf;
  transform: scale(0.95);
}
.summary-command-pickup{
  width: 100%;
  padding: 0 20px;
  margin-top: 16px;
  display: flex;
  column-gap: 4px;
  /* background-color: bisque; */
  align-items: flex-end;
  justify-content: center;
}

.pickup-name-box{
  width: 100px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.border-bottom-color{
  border-bottom:2px solid #FF00C8 ;
}
.drop-name-box{
  width: fit-content;
}
.box-drop-list{
  padding: 0 12px;
  display: flex;
  column-gap: 4px;
  width: 100px;
  justify-content: start;
  align-items: flex-end;
}
.summary-command-pickup+p{
  transform: translateY(-2px);
  color:#6a6a6a
}
.show-response,.show-response-error,.show-response-loading{
  position: fixed;
  padding-left: 16px;
  right: 0;
  top: 50px;
  width: 500px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  display:flex;
  color:white;
  align-items: center;  
}
.show-response:after {
  content: "";
  background: #00ff5a;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  animation: load 3s linear forwards;
  -webkit-animation: load 3s linear forwards;
}
.show-response-error:after {
  content: "";
  background: rgb(255, 58, 58);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  animation: load 3s linear forwards;
  -webkit-animation: load 3s linear forwards;
}
@keyframes load {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}