#map{
    position: relative;
    top: 0;
    left: 0;
    width: var(--map-width);
    aspect-ratio: 2155/1261;
    height: auto;
    /* height: var(--map-height); */
}
#map .map-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#map .svg{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* background-color: #fcc931; */
  }
.carmodel-position {
    position: absolute;
    height: 24px;
    aspect-ratio: 200/101;
    transform-origin: 20% 50%;
    -webkit-transform-origin:20% 50%;
    transition: left 3s linear, bottom 3s linear, transform 3s linear;
    will-change: transform, left, bottom;
}
#map .switch-map-pick{
    position:absolute;
    display: flex;
    color:rgb(0, 0, 0);
    justify-content: space-between;
    padding: 12px;
    width: 130px;
    background-color: rgb(236, 236, 236);
    border-radius:6px ;
    left:88%;
    bottom:5%;
  }
  
  .pin-animate{
    animation: pulse-scale 2s ease-in-out infinite;
  }
  @keyframes pulse-scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }