
.mission-box-page{
  padding-top: 32px;
  width: 100%;
  /* background-color: #ABABAB; */
}
.box-title{
  width: 100%;
  display: flex;
  gap: 16px;
}
.mission-title-box{
  width: 100%;
  padding-left: 30px;
  height: 100px;
  margin-bottom: 1rem;
  /* background-color: #ABABAB; */
}
.mission-box-page .title1{
  font-size: 16px;
  color:rgb(9, 84, 84);
  font-style: italic;

}
.container-card{
  /* width: 100%; */
  border-radius: 12px;
  height: 800px;
  margin:0 1rem 2rem;
  background-color: white !important;
}
.mission-content-box{
  width: 100%;
  height: 100%;
  background-color: #ffadad;
}
.mission-header{
  display: flex;
  width: 100%;
  height: 80px;
  /* align-items: end; */
  /* background-color: #979797; */
  border-bottom: 1px solid #979797;
}
.selected-mission-btn{
  display: flex;
  align-items: end;
  width: 50%;
  margin-right: 2rem;
  padding: 0 0 0 2rem;
}
.selected-mission-btn button{
  padding: 0.5rem 1.4rem;
  /* height: 40px; */
  margin:1px 0.5rem;
  font-size: 12px !important;
  background-color: transparent;
  border: none;
  font-weight: 400;
  color:#8F8F8F;
  /* background-color: #002582; */
  }
.selected-mission-btn button:hover{
 transform: scale(1.15);
}
.selected-mission-btn button:focus,.selected-mission-btn .active{
  transform: scale(1.15);
  color:black;
  background-color: white !important;
  border: 1px solid #8F8F8F;
  border-bottom:none ;
  font-weight: 600;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
 }
 .input-date-box{
   display: flex;
   margin-top: 1rem;
   align-items: end;
   justify-content: start;
   margin-right: 2rem;
   padding-bottom: 8px;
 } 
 .selected-agv-box{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 8px;
 }
.selected-agv-box button{
  width: 80px;
  height:32px;
  border-radius:5px;
  background-color: white;
  color:#555555;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #555555;
  margin-right: 12px;
}
.selected-agv-box button:hover{
   transform: scale(1.05);
}
.selected-agv-box button.active{
  background-color: #0d00ff;
  color:white;
  font-weight: 600;
}
 .form-group {
  position: relative;
  width: 150px;
  height:32px;
  margin-right: 16px;
}
.form-group input[type="text"]{
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 16px;
  border-radius: 4px;
  margin-right:1rem;
  color:#8F8F8F;
  position: absolute;
  border: 1px solid #838383;
  top:0;
  left:0;
}

.form-group input[type="text"]:focus{
  border: 1px solid #838383;
}
 .form-group input[type="date"]{
   position: absolute;
   top:5px;
   right:2px;
   width: 24px;
   height: 24px;
   font-size: 20px;
   padding: 0;
   border: none;
 }
 .form-group label{
   position: absolute;
   top: -20px;
   left: 2px;
   font-size: 14px;
   color:#5a5a5a;
 }

 .export-btn{
    width: 110px;
    padding: 4px 0;
    font-size: 20px;
    margin-left: 1rem;
    background-color: #0921fb;
    border: none;
    border-radius: 5px;
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

 }
 .export-btn:hover{
  background-color: #0016df;
 }
 .export-btn:active{
  transform: scale(0.95);
  background-color: #0016df;
 }
 .table-container{
    margin: 2rem 1rem 1rem;
    border: 1px solid #979797;
    border-radius: 8px;
    height: 660px;
 }

 .table-container thead{
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1;
 }
 .table-container tbody td{
   color:#515151;
 }
.circle-vehicle-icon{
  width: 16px;
  height: 16px;
  margin-right: .4rem;
  border-radius: 50%;
}

.td-vehicle-name{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-status{
  width: 100px;
  /* height: 32px; */
  margin: 0 auto;
  font-weight: 600;
  padding: 0.3rem 0;
  text-align: center;
  border-radius:2px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tb-mission-pause{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 90px;
  color:white;
  border-radius: 5px;
  font-size: 14px;
  margin:0 auto;
  border: 1px solid rgb(162, 162, 162);
  background-color: rgb(162, 162, 162);
  color:rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tb-mission-pause:hover{
  background-color: #e2e2e2;
  transform: scale(1.05);
}
.tb-mission-pause:active{
  transform: scale(0.95);
}
.table-container th{
  font-weight: 600;
  font-size:12px;
}
tbody td{
  font-size: 14px;
}
.pagination {
  display: inline-block;
  float: right;
  margin-top: 1rem;
  padding-right:12px ;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0400ff;
  color: white;
  border-radius: 5px;
}
.pagination .disabled {
  pointer-events: none;
  color: gray;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
