.vehicle-box-page {
    padding-top: 32px;
    width: 100%;
    overflow: scroll;
    /* background-color: #ABABAB; */
}

.velocity-title-box {
    width: 100%;
    padding: 0 32px 16px;
}

.velocity-title-box .title1 {
    display: flex;
    align-items: center;
    font-style: italic;
}

.velocity-content-box {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: auto;
    padding: 0 16px 32px;
    gap: 16px;
}

.vehicle-card {
    width: 385px;
    height: fit-content;
    border: 1px solid #7fe7ff;
    background: white;
    border-radius: 5px;
    background: #e6e6e6;
    background: linear-gradient(0deg, rgb(246, 255, 255) 0%, rgba(255, 255, 255, 1) 70%);
}

.v-content-top-box {
    display: flex;
    width: 100%;
    height: 350px;
    /* background: #91E3F5; */
}

.v-content-middle-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 160px;
    justify-content: space-between;
    margin: 32px 0 0;
    padding: 16px 16px 0;
    /* background-color: #ff5500; */
}

.v-content-image {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    width: 210px;
    height: 100%;
    /* background: #90ec93; */
}

.v-content-chart {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    align-items: center;
}


.border-of-image {
    width: 170px;
    height: 220px;

    background: linear-gradient(90deg, rgba(252, 207, 174, 1) 0%, rgba(255, 242, 242, 1) 100%);
    /* border: 1px solid #a9a9a9; */
    border-radius: 8px;
    margin: 28px 0 0 60px;
    position: relative;
}

.border-of-image.agv-offline {
    background: rgb(236, 236, 236);
    border: 1px solid #bbbbbb;
}

.border-of-image img {
    position: absolute;
    animation: img-agv 1s forwards;
}

@keyframes img-agv {
    from {
        top: 40px;
        left: -30px;
    }

    to {
        top: 56px;
        left: -64px;
    }

}

.battery-chart {
    margin-top: 2rem;
    width: 100%;
    height: 150px;
    /* background-color: #90ec93; */
}

.velocity-chart {
    width: 100%;
    height: 150px;
}

.v-content-name {
    font-size: 16px;
    width: 100%;
    padding: 0.8rem 0 0 1rem;
    height: 80px;
    /* background-color: #90ec93; */
}

.hr-name-agv {
    margin: 1rem 0;
    height: 8px;
    background-color: #ff5500;
    border-radius: 10px;
    border: none;
}

.circle-bg-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-state-icon {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.color-icon-1 {
    background: rgb(189, 253, 239);
    background: linear-gradient(0deg, rgb(241, 255, 235) 0%, rgb(189, 253, 239) 70%);
}

.color-icon-2 {
    background: linear-gradient(0deg, rgb(249, 240, 255) 0%, rgb(224, 215, 255) 80%);
}

.color-icon-3 {
    background: linear-gradient(0deg, rgb(233, 228, 255) 0%, rgb(165, 239, 255) 80%);
}

.color-icon-4 {
    background: linear-gradient(0deg, rgb(226, 226, 226) 0%, rgb(255, 222, 222) 80%);
}

.color-icon-5 {
    background: linear-gradient(0deg, rgb(226, 226, 226) 0%, rgb(255, 222, 181) 80%);
}

.color-icon-6 {
    background: linear-gradient(0deg, rgb(235, 235, 235) 0%, rgb(197, 197, 197) 80%);
}

.v-content-bottom2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: rgb(79, 79, 79);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* background-color: #0a27ff; */
}

.trapezoid {
    display: flex;
    border-bottom: 60px solid rgb(121, 121, 121);
    border-right: 72px solid transparent;
    border-bottom-left-radius: 5px;
    height: 0;
    width: 75%;

}

.goback-home {
    color: white;
    width: 130px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #acacac;
    position: relative;
    cursor: pointer;
    background-color: #3b3b3b;
}
.goback-home:hover {
    background: #0f0f0f;
    transform: scale(1.02);
  }

button.goback-home:disabled {
    background-color: #828282 !important;
    color: #b0b0b0;
    transform: none;
}

 

.goback-home:active {
    transform: scale(0.96);
}

.onlineneon {
    display: inline-block;
    animation: neon-glow 1.5s infinite alternate;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 28px;
    background-color: #000000;
    animation: neon-glow 1s linear infinite alternate;

}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px #0dff20;
    }

    100% {
        box-shadow: 0 0 10px #0dff20, 0 0 20px #0dff20, 0 0 40px #00ff00;
    }
}

.btn-extend {
    border: none;
    background-color: transparent;
    margin-left: auto;
    align-self: flex-end;
    font-size: 14px;
    color: #585858;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(255, 119, 0);
}

.fix-bg-info-vehicle {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000039;
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.box-vehicle-info {
    width: 450px;
    height: 400px;
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 5px;
    padding: 0 0 16px;
    border: 1px solid #4f4f4f;
    word-wrap: break-word;

}

.box-vehicle-info-misstion {
    width: 100%;
    padding: 0 16px;
}

.box-vehicle-info-misstion h5 {
    text-decoration: 3px underline #00ffaa;
}

.box-vehicle-info .name-sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 12px;
}

.EmergencyBtn {
    width: fit-content;
    text-wrap: nowrap;
    margin: 8px 0 0;
    height: 30px;
    background-color: #000000;
    color: white;
    padding: 2px 8px;
    animation: emergencyAnimate 1s ease-in infinite;

}

@keyframes emergencyAnimate {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}